<% if routine.errors.any? %>
  <h5 class="error"><%= routine.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_with model: routine, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: routine.errors.any? ? "error-field" : nil %>
  <br>

  <%= f.label :times_per_week %>
  <%= f.number_field :times_per_week, min: 0 %>
  <br>

  <%= f.label :image %>
  <%= f.file_field :image %>
  <br><br>

  <h3>Add Some Existing Exercises</h3>
  <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name do |e| %>
    <%= e.check_box %>
    <%= e.object.name %>
    <br>
  <% end %>
  <br>


  <h3>Create a New Exercise for the Routine</h3>
  <%= f.fields_for :exercises_attributes do |exercises_fields| %>
    <%= exercises_fields.label :name %>
    <%= exercises_fields.text_field :name %>
    <br>

    <%= exercises_fields.label :exercise_type %>
    <%= exercises_fields.text_field :exercise_type %>
    <br>

    <%= exercises_fields.label :description %>
    <%= exercises_fields.text_area :description %>
    <br><br>

    <%= exercises_fields.label :image %>
    <%= exercises_fields.file_field :image %>
    <br><br>

    <%= exercises_fields.fields_for :routine_exercises_attributes do |ref| %>
      <%= ref.label :sets %>
      <%= ref.number_field :sets, min: 0 %>
      <br>

      <%= ref.label :reps %>
      <%= ref.number_field :reps, min: 0 %>
      <br>
    <% end %>
<% end %>


  <%= f.submit class: "submit_link" %>
<% end %>
