<a href="<%= routines_path %>"><%= current_user.name %>'s Routines</a> > <%= @routine.name %>
<h1><%= @routine.name %></h1>
<h3>Times Per Week: <%= @routine.times_per_week %></h3>
<% @routine.exercises.each do |exercise| %>
  <%= link_to exercise.name, routine_exercise_path(@routine, exercise) %> <br>
  <br>
<% end %>

<br>

<%= link_to "Edit Routine", edit_routine_path(@routine) %> <br>
<%= link_to "Delete Routine", @routine, method: :delete %>
