<a href="<%= routines_path %>"><%= current_user.name %>'s Routines</a> > <%= @routine.name %> <br />

<% if @routine.image.attached? %>

  <%= image_tag(@routine.image, class: "routine-image") %>

<% end %>

<h1><%= @routine.name %></h1>
<h3>Times Per Week: <%= @routine.times_per_week %></h3>

<div id="exercise_cards">
  <% @routine.exercises.each do |exercise| %>
    <%= link_to exercise.name, routine_exercise_path(@routine, exercise), class: "exercise_card" %> <br>
    <br>
  <% end %>
</div>


<br>
<div class="crud_links">
  <%= link_to "Edit Routine", edit_routine_path(@routine), class: "edit_link" %> <br>
  <%= link_to "Delete Routine", @routine, class: "delete_link", method: :delete %>
</div>
