<div class="navbar">
  <nav>
    <a href="<%= routines_path %>"><%= current_user.name %>'s Routines</a> > <%= @routine.name %> <br />
  </nav>
</div>
<br><br>

<div class="routine-container"></div>

<% if @routine.image.attached? %>

  <%= image_tag(@routine.image, class: "routine-image") %>

<% end %>

<h1><%= @routine.name %></h1>
<h3>Times Per Week: <%= @routine.times_per_week %></h3>

<div id="exercise-cards">
  <% @routine.exercises.each do |exercise| %>
    <%= link_to exercise.name, routine_exercise_path(@routine, exercise), class: "exercise-card" %> <br>
    <br>
  <% end %>
</div>


<br>
<div class="crud-links">
  <%= link_to "Edit Routine", edit_routine_path(@routine), class: "edit-link" %> <br>
  <%= link_to "Delete Routine", @routine, class: "delete-link", method: :delete %>
</div>
