
<br/>
<div class="sign-in-form">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "text-entry" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: :password.capitalize(), class: "text-entry" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", id: "regular_login_link", class: "login-btn" %>
    </div>
  <% end %>

  <br>

  <p>...OR...</p>

  <br>

  <%= render "devise/shared/links" %>
</div>
