<div class="navbar">
  <nav>
    <a href="<%= routines_path %>"><%= current_user.name %>'s Routines</a> > <a href="<%= routine_path(@routine) %>"><%= @routine.name %></a> > <%= @exercise.name %>
  </nav>
</div>
<br><br>

<div class="exercise-container">
  <% if @exercise.image.attached? %>
    <%= image_tag(@exercise.image, class: "exercise-image") %>
  <% end %>
  <div class="exercise-info">
    <h1><%= @exercise.name %></h1>
    <strong>Type: </strong><%= @exercise.exercise_type %> <br>

    <p>
      <%= @exercise.description %>
    </p>

    <strong>Sets: </strong><%= @routine_exercise.sets %>
    <strong>Reps: </strong><%= @routine_exercise.reps %>
    <br>
  </div>
</div>


<div class="crud_links">
  <%= link_to "Edit Exercise", edit_routine_exercise_path(@routine, @exercise), class: "edit_link" %> <br>
  <%= link_to "Delete Exercise", delete_routine_exercise_path(@routine, @exercise ), class: "delete_link", method: :delete %>
</div>
