<h1><%= @exercise.name %></h1>
<strong>Type: </strong><%= @exercise.exercise_type %> <br>

<p>
  <%= @exercise.description %>
</p>

<strong>Sets: </strong><%= @routine_exercise.sets %>
<strong>Reps: </strong><%= @routine_exercise.reps %>

<br>

<%= link_to "Edit Exercise", edit_exercise_path %> <br>
<%= link_to "Delete Exercise", @exercise, method: :delete %>
