
<a href="<%= routines_path %>"><%= current_user.name %>'s Routines</a> > <a href="<%= routine_path(@routine) %>"><%= @routine.name %></a> > <%= @exercise.name %>

<br><br>


<% if @exercise.image.attached? %>
  <div class="image-container">
    <%= image_tag(@exercise.image, width: "50%", height: "50%") %>
  </div>
<% end %>


<h1><%= @exercise.name %></h1>
<strong>Type: </strong><%= @exercise.exercise_type %> <br>

<p>
  <%= @exercise.description %>
</p>

<strong>Sets: </strong><%= @routine_exercise.sets %>
<strong>Reps: </strong><%= @routine_exercise.reps %>

<br>
<div class="crud_links">
  <%= link_to "Edit Exercise", edit_routine_exercise_path(@routine, @exercise), class: "edit_link" %> <br>
  <%= link_to "Delete Exercise", delete_routine_exercise_path(@routine, @exercise ), class: "delete_link", method: :delete %>
</div>
